<!-- CartCtrl -->
<div class="item row ">

    <div>
        <div class="btn col-md-3 text-center">
            <button ng-click="$ctrl.onClick()">{{$ctrl.buttonText}}</button>
        </div>

        <div class="col-md-3">
            <input type="number" min="1" max="1000" step="1" />
        </div>
        <span class="col-md-3 text-right">{{$ctrl.item.Name}}</span>
        <!--<span>{{$ctrl.item.Price}}</span>-->
        <div class="img col-md-3">
            <img src="https://www.iaap-hq.org/global_graphics/default-store-350x350.jpg" />
        </div>
    </div>

    <div class="row">
        <hr class="break-line">
    </div>

</div>
