<!-- CartCtrl -->
<!-- ItemsCtrl -->
<div class="wrapper container centering">
    <div class="items-div row">

        <a href="{{$ctrl.isCartEmpty() ? '#/' : '#results'}}" ng-class="$ctrl.isCartEmpty() ? 'disabled' : 'enabled'">
            <button ng-disabled="$ctrl.isCartEmpty()" class="col-md-3 text-center button-theme"><b>השווה סל קניות</b></button>
        </a>

        <div class="col-md-8">
            <input type="text" ng-model="$ctrl.selectedText" placeholder="בחר מוצר"
                   uib-typeahead="item as item.Name for item in $ctrl.getStoreItems()"
                   typeahead-popup-template-url="customPopupTemplate.html" class="input form-control" typeahead-show-hint="true"
                   typeahead-on-select="$ctrl.addItem($item, $model, $label, $event)"
                   typeahead-min-length="0">

            <script type="text/ng-template" id="customPopupTemplate.html">
                <div class="popup-wrapper pre-scrollable" ng-click="$event.stopPropagation()">
                    <ma-item-entry ng-repeat="match in matches track by $index"
                                   item="match.model"
                                   button-text="הוסף"
                                   on-button-click="selectMatch($index)">
                    </ma-item-entry>
                </div>
            </script>
        </div>

        <div class="text-style col-md-1 text-right">
            <span>חפש</span>
        </div>
    </div>

    <div>
        <div class="items-list-header row">
            <p class="col-md-3"></p>
            <p class="col-md-3 text-center"><b>כמות להוספה</b></p>
            <p class="col-md-3 text-center"><b>יח\משקל</b></p>
            <p class="col-md-3 text-right" style="padding-right:50px;"><b>שם המוצר</b> </p>

        </div>
    </div>

    <div class="items-list-div" id="items-list">
        <div ng-show="$ctrl.isCartEmpty()">
            <h1>הסל שלך ריק, הוסף מוצרים לסל</h1>
        </div>
        <div ng-repeat="item in $ctrl.getItemsInCart()">
            <ma-item-entry item="item" button-text="הסר" on-button-click="$ctrl.removeItem(item)"> </ma-item-entry>
        </div>
    </div>


</div>
