
@{
    ViewBag.Title = "Index";
    ViewBag.list = "";
    
}
<html >
<head>
   
</head>
<body>

    <table ng-app="app" cellpadding="2" border="1" ng-controller="chainsCtrl as $ctrl" >
        <tr>
            <th>Id</th>
            <th>Name</th>
           <th>ChainNumber</th> 
            <th>Option</th> 
        </tr>
        <tr  ng-repeat="chain in $ctrl.chains">
            <td>{{chain.Id}}</td>
            <td>{{chain.Name}}</td>
            <td>{{chain.ChainNumber}}</td>
            <td>Delete | Edit</td>
        </tr>
    </table>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
<h2>Index</h2>

